In [1]:
import pandas as pd # type: ignore
from datetime import datetime

# Loading the Sales.csv dataset
heart_df = pd.read_csv('heart.csv.xls')

heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
# Reading Datasets, Data Preprocessing, Eda, Visualization
# feature Engineering

In [2]:
# Feature Engineering
# Select the top 10 features based on the chi - squared test

from sklearn.feature_selection import SelectKBest, chi2

X = heart_df.drop('target', axis=1)
Y = heart_df['target']

selector = SelectKBest(chi2, k=10)
X_new = selector.fit_transform(X, Y)
selected_features = X.columns[selector.get_support()]

print('Selected Features: ', selected_features)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
# Notes on the datasets
# Target column, is the heart disease status, where, 0 = no heart disease, 1, presence of a heart disease

In [ ]:
# Normalization
# Normalization is a process of scaling the data to a given range.
# It is used to standardize the data so that it can be used for further analysis.

# Feature scaling and normalization

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Standardize the features
X_scaled = scaler.fit_transform(X)
X_scaler = MinMaxScaler()
X_normalized